<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="icon" type="image/gif" href="{% static 'images/oko_icon.gif' %}"/>

        <meta charset="utf-8">
        <title>{% block title %}Midge Crew{% endblock %}</title>
    </head>
    <body>
        <div class="header">
            <div class="left col-5">
                <a href="{% url 'home' %}"><img src="{% static 'images/okoboji_icon.gif' %}" height="90px" /></a>
            </div>
            <div class="right col-6">
                <ul>
                    {% if user.is_authenticated %}
                        <li><a>Hello, {{ user.get_username }}</a></li>
                        <li><a href="{% url 'logout' %}?next=/">logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">login</a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
        <main class="main col-12">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>